<h1 style="color:purple">New Book</h1>
<p>Please add your book!</p>
<div class="col-xs-12">
<div class="well">
  <%= simple_form_for @book do |f| %>
    <%=f.input :title, label:"Title", input_html:{placeholder:"title"}%>
    <%=f.input :year_published%>
    <%=f.input :author%>
    <%=f.input :genre%>
    <%=f.input :image_url%>
    <%=f.submit "Submit".html_safe, class:'btn btn-lg btn-danger'%>
<!-- simple form syntax is different than blog homework -->
<%end%>
</div>
</div>
