
<div class = "panel panel-default">
  <div class = "panel-heading">
    <h1> Edit artist</h1>
  </div>

      <div class="panel-body">
        <%=simple_form_for @artist do |f|%>
        <%=f.input :name%>
        <%=f.input :description,  as: :text%>
        <%=f.input :image_url%>
        <%= f.submit "Submit".html_safe, class: "btn btn-lg"%>
        <%end%>
      </div>

</div>
